<h1>Registering to PHP Car Rental</h1>
<form method="post" action="/register/addUser">
<p><input type="text" name="username" placeholder="username"/></p>
<p><input type="password" name="password" placeholder="password"/></p>
<p><input type="password" name="retype" placeholder="retype password"/></p>
<button type="submit" name="register">register</button>
</form>